<div class='container'>
<h1 class='heading'>eldroW</h1>

<div *ngIf='stumped'>
    Stumped
</div>
<div *ngIf='thinking'>
    Thinking {{progress}}%
</div>

<div>
    <div *ngFor='let c of colorBlocks; index as i' class='blockContainer'>
        <div [ngSwitch]='c' (click)='nextColor(i)'>
            <button mat-flat-button *ngSwitchCase="colors.Grey" class='block' color='grey'>
                {{currentGuess[i]}}
            </button>
            <button mat-flat-button *ngSwitchCase="colors.Yellow" class='block' color='yellow'>
                {{currentGuess[i]}}
            </button>
            <button mat-flat-button *ngSwitchCase="colors.Green" class='block' color='green'>
                {{currentGuess[i]}}
            </button>
        </div>
    </div>
</div>
<button mat-stroked-button (click)='submit()'>
    Submit
</button>
<button mat-stroked-button  (click)='reset()'>
    Reset
</button>
<button *ngIf='thinking' mat-stroked-button  (click)='stopFn()'>
    Stop
</button>
</div>
